<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hqyj.dao.GenerateChoiceMapper">
	
	<resultMap type="com.hqyj.entity.GenerateChoice" id="findTestById">
		<id column="generatechoice_id" property="generateChoiceId"/>
		<result column="generatechoice_question" property="generateChoiceQuestion"/>
		<result column="generatechoice_answerA" property="generateChoiceAnswerA"/>
		<result column="generatechoice_answerB" property="generateChoiceAnswerB"/>
		<result column="generatechoice_answerC" property="generateChoiceAnswerC"/>
		<result column="generatechoice_answerD" property="generateChoiceAnswerD"/>
		<result column="generatechoice_studentanswer" property="generateStudentAnswer"/>
		<result column="generatechoice_type" property="generateChoiceType"/>
		
	</resultMap>
	<select id="selectChoiceAll" resultMap="findTestById">
	
	</select>
	
	<insert id="insertChoice" parameterType="com.hqyj.entity.GenerateChoice">
		insert into t_generatechoice set generatechoice_question=#{generateChoiceQuestion},generatechoice_answerA=#{generateChoiceAnswerA},
		generatechoice_answerB=#{generateChoiceAnswerB},generatechoice_answerC=#{generateChoiceAnswerC},generatechoice_answerD=#{generateChoiceAnswerD},
		generatechoice_studentanswer=#{generateStudentAnswer},generatechoice_type=#{generateChoiceType}
	</insert>
</mapper>