<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.hqyj.entity.Score">
    <id column="score_id" jdbcType="INTEGER" property="scoreId" />
    <result column="score_number" jdbcType="INTEGER" property="scoreNunber" />
    <result column="score_ispass" jdbcType="VARCHAR" property="isPass" />
    <result column="fk_student_id" jdbcType="INTEGER" property="fkStudentId" />
  </resultMap>
  <sql id="Base_Column_List">
    score_id, score_number,score_ispass,fk_student_id
  </sql>
  
  <!-- 插入成绩 -->
  <insert id="insertScore" parameterType="com.hqyj.entity.Score">
  	INSERT into t_score 
	SET
	score_number=#{scoreNunber},
	score_ispass=#{isPass},
	fk_student_id=#{fkStudentId}
  </insert>
  <select id="queryScoreById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_score
    where score_id = #{scoreId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteScoreById" parameterType="java.lang.Integer">
    delete from t_score
    where score_id = #{scoreId,jdbcType=INTEGER}
  </delete>
  <update id="updateScoreById" parameterType="com.hqyj.entity.Score">
    update t_score set 
    score_number=#{scoreNunber},
    score_ispass=#{isPass}
    where score_id=#{scoreId}
  </update>
  <!-- 根据用户名去查询学生的成绩 -->
  <select id="selectScoreByUserName" parameterType="java.lang.String">
	SELECT s.score_number
	FROM t_user u,t_student stu,t_score s
	WHERE u.user_id=stu.fk_user_id 
	AND s.fk_student_id = stu.student_id
	AND u.user_name=#{userName}  
  </select>
</mapper>